.add-item{
  width: 280px;
  height: 26px;
  border-radius: 5px;
  border:1px solid #333;
  padding: 0px 5px;
}
ul{
  list-style: none;
  padding-left: 0px;
  li{
    padding: 0px 5px;
    border: 1px solid #333;
    max-width: 280px;
    border-radius: 5px;
    margin: 0;
    line-height: 26px;
    margin-bottom: 10px;
    height: 26px;
    .mark-check{
      height: 30px;
      float: right;
      display: inline-block;
    }
    button{
      float: right;
      background: none;
      border:0px;
      i{
        font-size: 22px;
      }
    }
  }
}
